[2020-06-19 05:50] t0lkman opened #1 "multiple reporters"
How can I have multiple reporters? I want do add cypress-mochawesome-reporter, but I need to keep junit reporter for the corporate needs

[2020-06-19 09:39] LironEr commented on #1
Hey,
I added an example how to use multiple reporters [here](https://github.com/LironEr/cypress-mochawesome-reporter/blob/master/examples/multiple-reporters/cypress.json)

[2020-06-21 09:18] #1 closed

[2020-06-29 13:41] vadal opened #3 "Error: unexpected token {"
Hello!
First of all, thank you for the plugin!

I have the following issue when I run the command to the server.
Can you please help me?

<img width="863" alt="Screenshot 2020-06-29 at 4 39 03 PM" src="https://user-images.githubusercontent.com/4260120/86012943-4443b400-ba27-11ea-9e3b-79ae34873f45.png">

[2020-07-01 06:30] vadal commented on #3
@LironEr any idea? :)

[2020-07-01 08:41] LironEr commented on #3
what node version do u use?
Looks like the minimum version should be node 10, I will add it to the readme file

[2020-07-06 19:22] #3 closed

[2020-09-23 19:49] superwesker1988 opened #5 "Incorrect screenshot link when error thrown on hook functions"
Hi,

Thanks so much for the plugin! We just start using the plugin recently and it works pretty well! The only one bug that I found is that when the error is thrown on test hook (`before`, `after` etc), the link to the screenshot is incorrect because cypress decided to append name like ` -- after all hook (failed).png` to the file name. Would you accept a PR to fix the issue? Thank you!

[2020-09-23 19:57] LironEr commented on #5
Yeah of course I will accept a fix

Thanks!

[2020-09-24 01:26] superwesker1988 commented on #5
@LironEr Thanks for the reply! Not sure why, but it seems I cannot push branch to the repo. Is there any restriction around it?

[2020-09-24 07:10] LironEr commented on #5
Released in [v1.0.3](https://github.com/LironEr/cypress-mochawesome-reporter/releases/tag/v1.0.3)

Thanks!

[2020-09-24 07:10] #5 closed

[2020-10-27 17:06] alfonso-rios-ibm opened #7 "Reporter options"
Is it possible to add reporter options like --charts? if not, will be supported soon?

[2020-10-27 20:52] LironEr commented on #7
Currently it's not possible, I will add that feature tomorrow.

[2020-10-27 21:10] alfonso-rios-ibm opened #10 "Reporter screenshots"
Currently I think the reporter only attach screenshots for failed tests, I think would be helpful to add the screenshots for passed tests that are taken on the fly as well.

[2020-10-28 15:05] #7 closed

[2020-10-28 15:08] LironEr commented on #7
Released in [v1.1.0](https://github.com/LironEr/cypress-mochawesome-reporter/releases/tag/v1.1.0)

[2020-10-30 08:33] LironEr commented on #10
Yes, currently the reporter only attaches screenshots for failed tests.
Cypress API makes it difficult to work with screenshots, I will try to find a way to attach screenshots for passed tests as well.

[2020-11-02 17:55] LironEr commented on #10
Released in [v1.2.0](https://github.com/LironEr/cypress-mochawesome-reporter/releases/tag/v1.2.0)

[2020-11-02 17:55] #10 closed

[2020-11-05 04:41] 6220119 opened #13 "It should take into account configurations from "cypress.json""
Great works 👍
I would like to ask for a feature:

**Is your feature request related to a problem? Please describe.**
In our project, we are using the following config from `cypress.json` file:
- `screenshotsFolder`
- `videosFolder`

This plugin should also take these configs into account together with cypress default and CLI arguments.

**Describe the solution you'd like**
- The reporter should al

[2020-11-06 12:11] LironEr commented on #13
The reporter already knows how to deal with different screenshots folder.

So for example if you set up your `cypress.json` like:
[code]

You will need to send `--screenshotsDir` flag to `generate-mochawesome-report` CLI

[code]

[Full example](https://github.com/LironEr/cypress-mochawesome-reporter/tree/master/examples/screenshots-folder)

Hope that answers your issue, if not please replay 😊

[2020-11-06 12:56] mortik commented on #13
What @6220119 probably meant was it would be cool if i don't need to run ```generate-mochawesome-report --screenshotDir images``` with the --screenshotDir argument but instead reuse the settings from cypress.json

[2020-11-06 13:14] LironEr commented on #13
Yeah, you probably right
Will have something ready in a day or two 👍

[2020-11-07 15:07] #13 closed

[2020-11-07 15:16] LironEr commented on #13
Released in [v1.3.0](https://github.com/LironEr/cypress-mochawesome-reporter/releases/tag/v1.3.0)

Thanks @6220119 @mortik

[2020-11-07 15:17] mortik commented on #13
Awesome thank you :)

[2021-02-22 06:41] MehranShafqat opened #18 "npm i install giving error"
When I try to install this package its giving

"npm ERR! code Unknown system error -83npm ERR! code Unknown system error -83"

My node version is 12.18.1

[2021-02-22 12:42] LironEr commented on #18
Please provide more information

Run and paste the output here
[code]

[code]

Thanks

[2021-02-22 13:33] MehranShafqat commented on #18
@LironEr

npm info it worked if it ends with ok
npm verb cli [
npm verb cli   '/usr/local/bin/node',
npm verb cli   '/usr/local/bin/npm',
npm verb cli   'i',
npm verb cli   '--save-dev',
npm verb cli   'cypress-mochawesome-reporter',
npm verb cli   '--verbose'
npm verb cli ]
npm info using npm@6.14.5
npm info using node@v12.18.2
npm verb npm-session 5f73c470a78b1bde
npm http fetch GET 200 https://

[2021-02-22 13:58] LironEr commented on #18
I don't think it's really a problem with this plugin, but with npm.
[code]

try to delete npm cache with:
[code]

then try to install again and paste the output:
[code]

if it still doesn't work try to install the latest node v12 version and try again
I'm using node v12.20.2 with npm v6.14.11

[2021-02-26 06:59] #18 closed

[2021-02-26 09:45] MehranShafqat commented on #18
@LironEr  yes issue was with npm. Thanks for the quick response

[2021-03-22 17:13] FlaTutu opened #19 "`cypress-multi-reporter` with `configFile` option"
**Describe the bug**
When generate report, the config file `cypress.json` is parsed to take account of reporter options, looking for special keys `reporterEnabled` and `cypressMochawesomeReporterReporterOptions` to be compliant with `cypress-multi-reporter` reporter, but completely ignore configuration if the real `cypress-multi-reporter` reporter config file is relocated with `configFile` option.

[2021-03-22 17:19] FlaTutu opened #20 "Reporter output folder option"
**Is your feature request related to a problem? Please describe.**
The HTML target report directory is hard-fixed to `cypress/reports/html` but I want to specify a custom one.

**Describe the solution you'd like**
Specify the directory where HTML report file is written by an option in reporter config (`outputFolder` for example).

**Describe alternatives you've considered**
I don't have alternativ

[2021-03-26 08:54] LironEr commented on #20
Hey,

This option is already available with -o/--output flag ([cli flags](https://github.com/LironEr/cypress-mochawesome-reporter#cli-generate-mochawesome-report-flags))

example:
[code]

if you want to put it in the `scripts` section in `package.json`:
[code]

[2021-03-26 11:07] FlaTutu commented on #20
Hello @LironEr
Thanks for your response, I saw that it is possible in cli flags, but not in config files 🙂

I prefer centralize different settings that change the behavior of the plugin in one place, and avoid to have some options in config file and anothers in npm script with cli flags. To go deeper, if I just put cli flag in npm script, I can't be sure the option will always be taken into accoun

[2021-03-26 13:10] LironEr commented on #20
In a few days I will release v2 for this reporter, the reporter won't need the CLI part at all.
It will create the HTML report at the end of a test run with the config provided in cypress.json

I will update here as soon as I have a beta version ready

[2021-03-26 13:12] LironEr commented on #19
Thanks for reporting this bug.

In a few days I will release v2 for this reporter, after that I will try to fix that behavior

[2021-03-27 22:29] FlaTutu commented on #20
That's sounds great, I will love this v2 for sure 🙂

[2021-03-28 12:40] LironEr commented on #20
[v2.0.0](https://github.com/LironEr/cypress-mochawesome-reporter/releases/tag/v2.0.0) has been released 🎉🎉

In order to change the output folder add `reportDir` to `reporterOptions` in your `cypress.json` file
[code]

[2021-03-28 13:15] LironEr commented on #19
Try `2.0.1-beta.0`

[code]

Please let me know if it solves the bug

[2021-03-29 13:57] FlaTutu commented on #20
Ok, v2 fix this issue 🎉
Thanks for your reactivity 👍🏽

[2021-03-29 13:57] #20 closed

[2021-03-29 14:10] FlaTutu commented on #19
Ok, I got an Error on v2.0.0, but the v2.0.1-beta.0 fix it and the config specified in config file is taken into account

[2021-03-29 14:10] #19 closed

[2021-03-30 11:11] MehranShafqat opened #25 "screenshot missing in final html report"
**Describe the bug**
 failed screenshot or normal screenshot is missing in final html please in latest release
**Expected behavior**
screenshot should add automatically
**Environment**
`cypress-mochawesome-reporter` version: `<2.0.1>`
`cypress` version: `<6.5.0>`

[2021-03-30 14:46] LironEr commented on #25
I just tested the `simple` example with cypress `6.5.0` and `cypress-mochawesome-reporter` version `2.0.1` and everything worked ok

Did you migrate from v1 to v2 or this is the first time you try this reporter?

Try to do the [setup](https://github.com/LironEr/cypress-mochawesome-reporter#setup) steps again

if it doesn't work please provide steps to reproduce or reproduction repository

[2021-03-31 07:15] MehranShafqat commented on #25
@LironEr  thanks for quick reply yeah its working and even I update my cypress on v 6.8.0 everything working perfectly fine.
thank you so much providing such a amazing integration without any hard configurations. Really appreciate

[2021-04-14 14:47] jimpriest opened #27 "Breaks w/Cypress 7.1.0"
**Describe the bug**
After upgraded to Cypress 7.1.0 I get an error (see below)
Rolling back Cypress to 7.0.1 things work again.

**Expected behavior**
Should work as before.

**Environment**
`cypress-mochawesome-reporter` version: `2.0.1`
`cypress` version: `7.1.0`

**Additional context**

[code]

[2021-04-16 11:35] LironEr commented on #27
I just updated all the examples to use cypress `7.1.0` and everything works ok.

Please try to install the reporter again, validate that the reporter actually exists in node_modules.

If it doesn't work please provide steps to reproduce or reproduction repository

[2021-04-16 13:53] jimpriest commented on #27
Hmm thanks for confirmation that it works. Let me uninstall and try again.

[2021-04-21 06:18] LironEr commented on #27
@jimpriest any update?

If it still doesn't work please provide steps to reproduce or reproduction repository

[2021-04-21 14:16] jimpriest commented on #27
This IS working properly.  Someone had installed some other mocha plugins before which seems to have caused the issue.  I uninstalled everything,  updated Cypress and reinstalled this plugin and it works.   Thanks!!

[2021-04-21 14:16] #27 closed

[2021-05-28 21:26] leonardosimoura opened #30 "Option to convert screenshot to base64"
**Is your feature request related to a problem? Please describe.**
Option to convert screenshot  to base64, combined with inlineAssets (reportOption) will be possible to generate a single html file and use in some platforms ( like Azure Dev Ops) with tools/extensions that support publish html reports (example: https://marketplace.visualstudio.com/items?itemName=LakshayKaushik.PublishHTMLReports)
*

[2021-05-31 19:07] LironEr commented on #30
Sounds like a good feature, I will go over the PR later this week.

Thanks for contributing! 😊

[2021-06-05 07:24] LironEr commented on #30
Released in [v2.1.0](https://github.com/LironEr/cypress-mochawesome-reporter/releases/tag/v2.1.0)

Thanks @leonardosimoura

[2021-06-05 07:24] #30 closed

[2021-06-08 18:55] quad5 opened #32 "Include spec's filename in its corresponding result page"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

I am using v1.3.0. Sorry if it is already implemented in newer version. What I am asking is if spec name can be included in its corresponding result page. At the moment, I see describe's string value as title.

**Describe alternatives you've considered**

**Additional context**

[2021-06-10 09:09] pavel-R5 opened #33 "Save the json files"
**The issue:**
Currently I'm trying to implement Cypress and Testrail integration. In order to do that, I am planning to use [this](https://github.com/sumcumo/cypress-testrail-reporter) reporter. But as long as cypress-mochawesome-reporter delete the initial json files with the results, I'm unable to continue.

**Question/Feature I'd like to see:**
Any way how I can save both the html report and i

[2021-06-10 15:47] pavel-R5 commented on #33
If that is an option and maybe it is easier to implement: instead of saving all initial json files, there is more sence to save one final json which has all initial json files merged.

[2021-06-10 19:35] LironEr commented on #33
All [mochawesome-report-generator flags](https://github.com/adamgruber/mochawesome-report-generator#cli-flags) can be used with this reporter

`cypress.json`
[code]

this will save a JSON file with the final report

[2021-06-10 20:25] pavel-R5 commented on #33
Hey @LironEr , thank you for your answer.
It is weird but in my case, I have it set in config. I'm using a [multi reporter](https://github.com/you54f/cypress-multi-reporters) and two reporters with their own options in the `reporter-config.json` file.

![image](https://user-images.githubusercontent.com/73487929/121590757-602a4500-ca41-11eb-9b19-afb34bd25545.png)

And weird enough, I can see during

[2021-06-10 21:54] quad5 commented on #32
Please let me know if this is something I should file against mochawesome. Thanks.

First two pictures are from my test output:
   - Notice the 2nd image has spec path. I do *not* have `it` within `describe` in that spec file.
   - Notice the 1st image does *not* have spec path. I do have `it` within `describe` in that spec file.

The 3rd image is from mochawesome github readme. Notice it has both

[2021-06-11 09:06] LironEr commented on #32
After digging in `mochawesome` and `mochawesome-report-generator` code it looks like when running `mochawesome` with cypress the filename exists in another place than what `mochawesome-report-generator` expects.

I will release a version later today that mitigates this problem.

[2021-06-11 09:27] LironEr commented on #33
Try like this:
[code]

[2021-06-11 09:37] LironEr commented on #32
Released in [v2.1.1](https://github.com/LironEr/cypress-mochawesome-reporter/releases/tag/v2.1.1)

Thanks @quad5

[2021-06-11 09:37] #32 closed

[2021-06-11 15:38] pavel-R5 commented on #33
@LironEr Thank you, it works!
Great reporter, keep up what you are doing! :)

[2021-06-11 15:38] #33 closed

[2021-06-15 16:48] ganeshsirsi opened #35 "The final HTML report is note getting generated"
I have configured this plugin it worked fine the first time when I run the report
Later due to my framework configuration I have put the below code in `plugin/index.js`
[code]

The above code is nothing to do with HTML reporters though, but final HTML is not getting generated because of the above code.
Kindly fix the bug. I was thinking to write a detailed article about multiple reporters using th

[2021-06-15 18:02] endercrest opened #36 "Overwrite Flag Not Working"
**Describe the bug**
`overwrite` flag is ignored since the output directory is cleared before every run

**Expected behavior**
Expect results to continue to be added to the results directory without being deleted first.

**Environment**
`cypress-mochawesome-reporter` version: `2.1.1`
`cypress` version: `7.5.0`

Please run this command inside your project and paste its contents here (it automatical

[2021-06-15 18:04] endercrest opened #37 "Add quiet flag"
**Is your feature request related to a problem? Please describe.**
Upgraded from v1 of this and now getting additional logging which isn't wanted

**Describe the solution you'd like**
Be able to pass `queit: true` into `reporterOptions` to stop all logging

**Describe alternatives you've considered**

**Additional context**

[2021-06-15 22:41] quad5 opened #38 "Unable to generate report using v2.1.1"
**Describe the bug**

Using version 2.1.1, I get this error when running `npm run cypress:report`. Works fine for 1.3.0.

Extract from "/.npm/_logs/2021-06-15T22_29_08_472Z-debug.log"

11 info lifecycle automation-testing@1.0.0 cypress:report: Failed to exec cypress:report script
12 verbose stack Error: automation-testing@1.0.0 cypress:report: `generate-mochawesome-report`
12 verbose stack spawn E

[2021-06-16 16:36] LironEr commented on #38
See the [migration guide](https://github.com/LironEr/cypress-mochawesome-reporter/blob/master/migration.md#migrating-from-v1-to-v2) from v1 to v2

[2021-06-16 16:45] #35 closed

[2021-06-16 19:53] #37 closed

[2021-06-16 20:01] LironEr commented on #35
released in [v2.2.0](https://github.com/LironEr/cypress-mochawesome-reporter/releases/tag/v2.2.0)

[2021-06-16 20:01] LironEr commented on #37
released in [v2.2.0](https://github.com/LironEr/cypress-mochawesome-reporter/releases/tag/v2.2.0)

[2021-06-16 20:04] LironEr commented on #36
please add your `cypress.json`

also please describe the use case, currently I'm deleting the report folder to have a clean HTML report, without outdated data

[2021-06-17 07:56] ganeshsirsi commented on #35
@LironEr  connect with me on LinkedIn Once I finish the article will share it with you. https://www.linkedin.com/in/ganeshsirsi/

[2021-06-17 18:03] ganeshsirsi commented on #35
@LironEr Here is the first article https://dev.to/ganeshsirsi/cypress-how-to-configure-html-results-with-screenshot-step-by-step-guide-55n7  Feel free to share it will be helpful for beginners.
More articles might come using the same plugin.

[2021-06-22 22:08] quad5 commented on #38
Works after I update as instructed in migration guide.

[2021-06-22 22:08] #38 closed

[2021-06-24 10:20] tr4ck3ur opened #41 "reportDir option works only with default value"
**Describe the bug**
by giving as 'reportDir' option another value than the default one, (aka cypress/reports). report auto-generation fails
As an example, I put "reportDir": "./results/html"
And the, at the end of the execution :
[code]
**and yes i confirm,
 mochawesome*.json files are generated inside `cypress/reports/html/.jsons` folder**

**Expected behavior**
I  think it may generate mochawes

[2021-06-25 09:54] LironEr commented on #41
I tried to reproduce the bug and I saw this logs:

[code]

When I changed `reporterEnabled` from:
[code]
to:
[code]

everything worked as expected.

Do you see that log also?
If not, please provide a repo so I can test it or provide steps to reproduce the bug.

[2021-06-28 18:58] parky128 opened #43 "Video Embed Possible?"
Hi, is it possible to get video's embedded as links or something similar into the generated HTML report?

Thanks

[2021-07-02 08:49] LironEr commented on #43
Currently no, because we cant add context per suite/spec file.
Related issues: https://github.com/adamgruber/mochawesome-report-generator/issues/124 https://github.com/adamgruber/mochawesome-report-generator/issues/150

[2021-07-12 12:24] tr4ck3ur commented on #41
In fact, i do it because i fall in following issue: https://github.com/cypress-io/cypress/issues/4536
I forgot to say that i have a nested folder 'e2e' where i put cypress tests, that's why i put "../node_modules/" as a prefix
with your proposal i get following error

[2021-07-12 14:42] tr4ck3ur commented on #41
I confirm that works @LironEr
"reporter":

being kept, then reporterEnabled changed to :

as suggested works fine

Thanks !

[2021-07-12 14:42] #41 closed

[2021-07-15 12:52] parky128 opened #44 "Usage with parallel test runs"
Hi, not sure if this is the correct place to ask this but are there any limitations\caveats with using this reporter when running tests in Cypress in parallel mode?

Can this reporter be made aware of report files across multiple nodes and know how to combine these?

[2021-07-23 08:39] LironEr commented on #44
I never tried to use this reporter in parallel mode, but I don't think it would work.
Somehow the reporter needs to fetch the result files from each node and combine them, which is currently not implemented.

[2021-07-29 21:42] elsakhiy opened #45 "failed screenshots are not attached to report at embedded child "describe" scenario"
Hi, the report is not able attach failed screenshots when the spec file contains embedded "describe ". please see below example

describe("Cypress Testing", () => {
    describe('Test scenario', function () {
        it('positive testing', function () {
            cy.log("test ");
        });
    });

[2021-07-30 21:58] #45 closed

[2021-07-30 22:00] LironEr commented on #45
Released a fix in [v2.2.1](https://github.com/LironEr/cypress-mochawesome-reporter/releases/tag/v2.2.1)

Please use the Bug Report issue template next time.

[2021-08-12 14:05] JesseZomer opened #47 "Support for test retries"
**Is your feature request related to a problem? Please describe.**
Hello, excellent library 👍

In cypress there is this thing called [Test Retries](https://docs.cypress.io/guides/guides/test-retries), where if a test failes, it will automatically try again. It will take a screenshot for every failed attempt. At the moment I'm only seeing the last attempt screenshot, however in some tests the state

[2021-08-20 08:07] LironEr commented on #47
Hey,
I'm trying to find a solution to this, currently at the end of the test mochawesome saves only the last retry attempt

I will update if I manage to find something (:

[2021-09-21 13:24] #47 closed

[2021-09-21 13:26] LironEr commented on #47
Released in [v2.3.0](https://github.com/LironEr/cypress-mochawesome-reporter/releases/tag/v2.3.0)

Thanks @JesseZomer

[2021-09-27 18:46] pavpavel opened #49 "Generated report contains json structure instead of image since version 2.3.0"
I'm not sure if this is an issue or intended behaviour, if so, then i was not able to find how to change configuration to get it working again. See below screenshots and then related content from files: **plugins\index.js:** and **support\index.ts:**

Actual report:
![image](https://user-images.githubusercontent.com/3030470/134959133-5ecd8f1f-3be8-4bf5-b4aa-2e4fd62c588f.png)
Report generated with

[2021-09-27 22:36] LironEr commented on #49
There were some changes in 2.3.0 that might cause this bug, I tried to reproduce this issue but I can see the screenshots.
Can you please add your OS. node and cypress versions?

Also from what I understand from the code that you have in `support\index.ts`, you take a screenshot when a test fails, Cypress already does that [by default](https://docs.cypress.io/guides/references/configuration#Screen

[2021-09-29 17:25] pavpavel commented on #49
Code was prepared there for usage of different naming logic generation(but not touched yet), anyway I reduced file `support\index.ts` as you suggested, but behavior is still the same.
I tested on 2 machines:

1. Machine: **CENTOS 8** run in docker container
- node.js: 13.14.0
- docker: 19.03.12
- cypress: 7.3.0

2. Machine: **Windows 10 (Build 19043)**
- node.js: 16.9.1 ||  14.18.0
- cypress: 7.3.

[2021-09-29 20:58] LironEr commented on #49
For some reason, I can't reproduce the bug on my computer.
It will really help if you can add more info, please add to `cypress.json` this setting:
[code]

Full `cypress.json` example:
[code]

After running the `cypress run` command it should create a file `cypress/reports/html/index.json`
Please post the file output here or send it to my mail lironerm@gmail.com

Thanks.

[2021-10-20 09:35] pavpavel commented on #49
Hello, i see what i did wrong, now hopefully i send it to correct email address.

Best regards,
Pavel

[2021-10-20 22:02] LironEr commented on #49
Hey,

Thank you for sending the files.

From the log file I can see that the reporter only ran before running the tests, but not after.

I suspect that something is overriding the `after:run` hook, and because this reporter depends on running before and after a test run, it can cause the bug.

Please run cypress (`cypress run`) and check the logs in the console.
Do you see similar logs in the cons

[2021-10-21 10:07] SebastianDaehnrich opened #51 "Typescript: Report shows transpiled javascript"
**Is your feature request related to a problem? Please describe.**

I use the plugin @cypress/webpack-preprocessor to convert typescript to javascript.
After I run my tests, a report is created for me that contains the transpiled Javascript.

[code]
Dependencies:
[code]

**Is there a way to display the actual typescript code?**

[code]

[2021-11-23 13:24] pun-ky opened #52 "Allow to skip copying screenshots"
**Is your feature request related to a problem? Please describe.**

I want to reduce the number of generated files as there could be many screenshots taken during tests.

**Describe the solution you'd like**

when I put to cypress.json

[code]

then copying screenshots may be redundant, but the reporter is failing in that case:

[code]

how about adding the following option?

[code]

[2021-11-26 07:44] pavpavel commented on #49
Hello, i find out, that even code was in there, it wasn't executed due to i had 2 times `module.exports = (...`  in the 'cypress/plugins/index.js'. So it was due to mine code. Now it's working.
I'm very sorry for waisting your time.

[2021-11-26 07:44] #49 closed

[2021-11-26 14:41] LironEr commented on #49
np, happy it's working 😊

[2021-12-13 05:54] jk4235 opened #53 "onAfterScreenshot only work after a (non-failure) screenshot is taken"
### Environment

[code]

### What happened?

I found `onAfterScreenshot` only work after a **non-failure** screenshot is taken

so on v2.3.0, the reporter will not handle the screenshot which is taken by Cypress automatically when there is a failure

the function `saveScreenshotReference` will not run

[code]

### Config file

[code]

### Relevant log output

_No response_

### Anything else?

_No

[2021-12-13 05:58] jk4235 commented on #53
I lock version to 2.2.1 for now

[2021-12-14 10:20] tfrijsewijk opened #54 "`snapshots` and `__diff_output__` aren't copied to the report"
### Environment

[code]

### What happened?

Nothing fancy: Followed your article https://liron-er.medium.com/cypress-html-reports-with-screenshots-made-easy-315a4c86c552, pretty basic stuff. I'm creating snapshots with

[code]

### Config file

[code]

### Relevant log output

[code]

### Anything else?

![image](https://user-images.githubusercontent.com/9696261/145979792-54485905-198f-46e5-add5-

[2021-12-21 20:03] LironEr commented on #54
If I understand correctly, you are using cypress-image-snapshot
This reporter only copy screenshots from cypress screenshot path, and by default cypress-image-snapshot saves the screenshot to another directory

Can you try changing cypress-image-snapshot to save the images to the screenshot folder?

[2021-12-21 22:56] LironEr commented on #53
I just ran [one the of examples](https://github.com/LironEr/cypress-mochawesome-reporter/blob/master/examples/simple/cypress/integration/sub-dir/test1.spec.js) and I removed all `cy.screenshot()`, meaning only failed screenshots were taken.
All worked as expected

If you still have that issue please provide a repo with a way to reproduce this issue

[2021-12-22 03:50] jk4235 commented on #53
Thanks, I found the reason. My team member write a plugin that overwrite the `onAfterScreenshot` function, so the reporter doesn't work

I fix that problem.

Thanks!

[2021-12-22 03:50] #53 closed

[2022-01-10 22:48] bruno-canada commented on #54
@tfrijsewijk - FYI, I've posted my resolution: https://github.com/adamgruber/mochawesome-report-generator/issues/183#issuecomment-1009422056

Not sure if it will help you but there it is.

[2022-01-11 07:59] tfrijsewijk commented on #54
@bruno-canada Thanks! I'll have a look and report back.

[2022-01-11 07:59] #54 closed

[2022-01-21 16:54] verydevuser commented on #36
@LironEr I am having this issue too

here is my `cypress.json`

[code]

on version `"cypress-mochawesome-reporter": "^2.3.0",`

[2022-01-27 12:44] kovacsdongo opened #55 "Only a json file generated by the reporter"
### Environment

[code]

### What happened?

When i run a test only a json file put into the report folder

### Config file

[code]

### Relevant log output

_No response_

### Anything else?

_No response_

[2022-02-01 17:31] nischaytv opened #56 "Add OverWrite flag in reportOptions to archive reports"
**Is your feature request related to a problem? Please describe.**
I need to Archive my reports with timestamps, i tried "overwrite": false in reporterOptions but it didn't work. as it is removing output folder before running tests

![image](https://user-images.githubusercontent.com/20622111/152019467-05ab6e34-8bc8-49d6-9043-71c201dff954.png)

If you can stop removing output folder and control it

[2022-02-08 15:18] MargaritaVacheva commented on #55
Did you add
`  on("before:run", async (details) => {
    console.log("override before:run");
    await beforeRunHook(details);
  });

  on("after:run", async (results) => {
    console.log("override after:run");
    await afterRunHook();`
   at plugins/index.js ?

[2022-02-11 15:12] megant commented on #55
Same here. Cypress is 9.1.0.

[2022-02-23 06:16] mudit94 commented on #55
json ile is not getting generated for me

[2022-02-28 06:31] mudit94 opened #57 "unable to access index.json created by mochawesome for parsing"
Hi Team, I want to include the total test count, passed count and failed count in a email . i am triggering the cypress test from a jenkins/gitlab pipeline
I am unable to access index.json created by mochawesome reporter which i want to parse to draft the email

[2022-03-07 14:17] rromanv opened #58 "marge dependency is vulnerable"
### Environment

[code]

### What happened?

I noticed on the npm audit the next output

Inefficient Regular Expression Complexity in validator.js - https://github.com/advisories/GHSA-qgmg-gppg-76g5
No fix available
node_modules/validator
  mochawesome-report-generator  1.1.1 - 5.2.0
  Depends on vulnerable versions of validator
  Depends on vulnerable versions of yargs
  node_modules/mochawesome-

[2022-03-07 19:35] LironEr commented on #55
Please set [debug](https://github.com/LironEr/cypress-mochawesome-reporter#custom-options) option to `true` and paste here the log file

[2022-03-07 20:23] LironEr commented on #56
even with this option, every time the report will be generated it will have the same name so it will still override

I can suggest an alternative solution:
create `cypress.config.js` file

[code]

run cypress:
[code]

This will create a new folder for each run

What do you think?

[2022-03-07 20:45] LironEr commented on #56
oh got it, ignore my last comment.. as it can be a temporary solution.

I will fix overwrite flag behavior

[2022-03-07 21:18] #36 closed

[2022-03-07 21:18] #56 closed

[2022-03-07 21:26] LironEr commented on #36
Fixed in [v2.4.0](https://github.com/LironEr/cypress-mochawesome-reporter/releases/tag/v2.4.0)

[2022-03-07 21:26] LironEr commented on #56
Fixed in [v2.4.0](https://github.com/LironEr/cypress-mochawesome-reporter/releases/tag/v2.4.0)

[2022-03-07 21:29] #58 closed

[2022-03-07 21:32] LironEr commented on #58
Fixed in [v3.0.0](https://github.com/LironEr/cypress-mochawesome-reporter/releases/tag/v3.0.0)

[2022-03-13 12:35] SriSivaBatchu commented on #43
Hi @LironEr

Instead of waiting for the context for suite. I thought of adding a test entry (provided below) in tests array, after cypress execution just like enhanceReport function updating the context, here I'm adding a test entry.
When using file name I'm able to see the video in the HTML file, but I had to share the video along with the html report.
Could you please suggest a way to add the vi

[2022-03-14 16:57] jbardaji opened #65 "Cannot not launch cypress"
### Environment

[code]

### What happened?

I just cloned the repository, then launch `npm install `in the simple repository.
After that I launch cypress via the `npx cypress run`
I got an error Error: Cannot find module 'fs-extra'

Retry everything, got the same error. Don't know what's going on here...

### Config file

[code]

### Relevant log output

[code]

### Anything else?

_No response_

[2022-03-17 02:40] WeiBinChiu commented on #55
Could you provide `index.ts` or `index.js` under `plugins` ?

[2022-03-17 02:41] ChiuWeiBin commented on #55
Mind to share your `index.ts` or `index.js` under `plugins` folder ?

[2022-03-17 23:21] quad5 opened #66 "Problem with mochawesome: TypeError: Cannot read properties of undefined (reading 'length')"
### Environment

[code]

### What happened?

Please see the issue I logged with [mochawesome](https://github.com/adamgruber/mochawesome/issues/373). I am not sure who is the culprit.

### Config file

[code]

### Relevant log output

_No response_

### Anything else?

_No response_

[2022-03-24 13:05] Idleness76 commented on #66
@LironEr I also commented on the bug linked above.  This seems to occur if there are spec files that are either skipped, or otherwise don't have any tests present.

[2022-04-05 23:48] quad5 opened #68 "reporter after:run event occurs even though '--reporter' option isn't included in command line or cypress.json"
### Environment

[code]

### What happened?

I understand that mochawesome reporter doesn't work in parallel mode. Hence I didn't provide `--reporter` command when running in parallel mode. But somehow I still get this error `An error was thrown in your plugins file while executing the handler for the after:run event.`

I would assume that since I didn't provide `--reporter` option in run command

[2022-04-09 08:58] PadalaSandeep opened #69 "Screenshots doesnt get added into report, just shows the path in additional info"
![Screenshot 2022-04-09 at 2 21 46 PM](https://user-images.githubusercontent.com/34596007/162564336-21f05716-c536-4907-b1dd-0d967a9f85cb.png)

Using  "cypress": "7.7.0", and "cypress-mochawesome-reporter": "3.0.0"
Codebase Github link: [CypressUIAutomation](https://github.com/PadalaSandeep/CypressUIAutomation)

[2022-04-12 18:13] rajann44 opened #70 "How to export execution result to slack?"
We donot see json files of results, is it possible to post execution results to slack?

[2022-04-12 18:38] LironEr commented on #68
please add your `plugins/index.js` file

[2022-04-12 18:44] #69 closed

[2022-04-12 18:47] LironEr commented on #66
Hey, sorry for the late response.

Is the issue still happening after upgrading mochawesome? https://github.com/adamgruber/mochawesome/issues/373

I will release a new version (`3.0.1`) with the updated mochawesome in the next hour

[2022-04-12 19:25] LironEr commented on #65
Sorry for the late response.

First run `npm i` in the root directory, then go to the example you want and run again `npm i && npm test`

[2022-04-12 19:39] LironEr commented on #70
You can export json results with `saveJson: true`:

[code]

As for the Slack integration, you can try use [cypress-slack-reporter](https://github.com/you54f/cypress-slack-reporter), but I never tried it, so Im not sure how to use it (:

[2022-04-12 19:39] #70 closed

[2022-04-12 19:50] rajann44 commented on #70
THanks @LironEr

[2022-04-12 19:51] LironEr commented on #68
[v3.0.1](https://github.com/LironEr/cypress-mochawesome-reporter/releases/tag/v3.0.1) should fix this issue, if not please comment here

Thank you for reporting this issue 👍

[2022-04-12 19:52] LironEr commented on #69
[v3.0.1](https://github.com/LironEr/cypress-mochawesome-reporter/releases/tag/v3.0.1) should fix this issue, if not please comment here

Thank you for reporting this issue 👍

[2022-04-12 19:55] rajann44 commented on #70
The [cypress-slack-reporter](https://github.com/you54f/cypress-slack-reporter), have Pre-Requisites for:
    yarn add mochawesome --dev
    yarn add mochawesome-merge --dev
    yarn add mochawesome-report-generator --dev
    yarn add cypress-multi-reporters --dev

So I guess it wont work with this.

maybe I can send a post request by extracting data from json

[2022-04-12 20:07] LironEr commented on #70
This reporter already does all these steps behind the scenes.
So I understand correctly, you can run this reporter, and then the slack reporter.

[code]

it will find `index.json` file, parse it and send slack message

[2022-04-13 03:48] abunaiquad commented on #68
<img width="745" alt="image" src="https://user-images.githubusercontent.com/35240115/163096294-7e1a20fe-b530-4c23-a957-a546de0a8825.png">

<img width="1680" alt="image" src="https://user-images.githubusercontent.com/35240115/163096176-bd992a81-6827-4641-a77f-12bfacaeb6e9.png">

[2022-04-13 06:18] LironEr commented on #68
Please add to `cypress.json`
[code]
It should create a log file after the run, please add the file here.

[2022-04-13 14:38] PadalaSandeep commented on #69
Issue is Fixed now, Thanks @LironEr

[2022-04-13 17:32] Idleness76 commented on #66
@LironEr this was fixed with moachawesome 7.1.3 and should be fine to include the latest version.

[2022-04-13 17:54] abunaiquad commented on #68
start cypress-mochawesome-reporter 3.0.1
cypress.json: {"defaultCommandTimeout":20000,"reporter":"cypress-mochawesome-reporter","reporterOptions":{"debug":true,"reportDir":"/Users/someuser/Git/qa/cypress/cypress/reports/html"},"trashAssetsBeforeRuns":false,"videoUploadOnPasses":false,"chromeWebSecurity":false,"screenshotsFolder":"./cypress/screenshots/desktopView","videosFolder":"./cypress/videos/

[2022-04-13 18:18] #66 closed

[2022-04-14 19:32] LironEr commented on #68
For some reason, this reporter is the active reporter by cypress.

Maybe try to change the reporter with `--reporter spec`

[2022-04-18 18:33] quad5 commented on #68
<img width="1680" alt="Untitled" src="https://user-images.githubusercontent.com/2043287/163856658-e9d41cdf-d2c7-4bec-a937-528462b8612e.png">

`start cypress-mochawesome-reporter 3.0.1
cypress.json: {"defaultCommandTimeout":20000,"reporter":"cypress-mochawesome-reporter","reporterOptions":{"debug":true,"reportDir":"/Users/quynhanhduong/Git/qa/cypress/cypress/reports/html"},"trashAssetsBeforeRuns":f

[2022-04-25 15:13] mlegait opened #75 "Be able to add test context"
According to the documentation, it's possible to add test context to Mochawesome reports: https://github.com/adamgruber/mochawesome#adding-test-context

So I tried to do it on top of `cypress-mochawesome-reporter` as described in Mochawesome README. But it does nothing.

Could it be possible to have a way to add test context?

Thank you very much for your help 😄

[2022-04-26 09:25] adassoul commented on #57
Hello,
I was looking in the issues to find an issue like mine. I think this one is related :
I don't get .html files but .json files. Is this normal ?

[2022-04-26 09:27] adassoul commented on #57
//cypress.json
`{
  "reporter":"cypress-mochawesome-reporter",
  "reporterOptions": {
    "reportDir": "cypress/reports",
    "charts": true,
    "reportPageTitle": "My Test Suite",
    "embeddedScreenshots": true,
    "inlineAssets": true
  },
  "retries": {
    "runMode": 2,
    "openMode" : 2
  },
  "ignoreTestFiles": [
    "variables*",
    "test*",
    "url_apiCalls.json"
  ],
  "videoCompres

[2022-04-26 09:38] adassoul commented on #55
Hello,
I was looking in the issues to find an issue like mine. I think this one is related :
I don't get .html files but .json files. Is this normal ?

[2022-04-26 09:48] adassoul commented on #55
I was reading the code and discovered this bit :
// cypress-mochawesome-reporter\lib\reporter.js

`const defaultReporterOptions = {
  overwrite: false,
  html: false,
  json: true,
};
`
maybe it's because html is false and json is true ?
I changed it to html : true and json : false, i no longer get json files and get html files generated now but these html files aren't really html.

[2022-04-26 14:17] adassoul commented on #55
I also am not getting the screenshots, but i'm getting a json file in the HTML when the tests fail
![image](https://user-images.githubusercontent.com/47633088/165320632-fee6ceb9-d6a2-4e5f-a8bc-33ac73a330f6.png)

[2022-04-26 19:18] LironEr commented on #55
@adassoul Please use `3.0.1` and set [debug](https://github.com/LironEr/cypress-mochawesome-reporter#custom-options) option to `true` and paste here the log file

[2022-04-27 08:41] adassoul commented on #55
@LironEr It's the version I'm using. Can you tell me where I should expect the debug file to be generated? Because I added "debug": true in cypress.json, ran cypress but still didn't get any generated debug file.

[2022-04-30 04:43] MoonAditya opened #76 "cypress-mochawesome-reporter v3.0.1 is failing to identify the package using reporter path"
### Environment

[code]

### What happened?

The issue is related to the
**cypress-mochawesome-reporter**: { "version": "**3.0.1**"}
this version has a strict check for the reporter name in the **config.js** file, see the code here

`if (config.reporter === 'cypress-mochawesome-reporter') {
    return opts;
  }`

It is a failing and logging a message that "cypress-mochawesome-reporter is not an ac

[2022-05-02 17:51] jinisha commented on #76
I am having a similar problem.

Env:-
- OS: Windows 10 enterprise
- Cypress:        9.5.1
- Browser:        Electron 94 (headless)
- Node Version:   v16.13.1
- cypress-mochawesome-reporter: 3.0.1
- cypress: 8.7.0

cypress.json setup

"reporter": "../../../node_modules/cypress-multi-reporters",
  "reporterOptions": {
    "configFile": "reporter-config.json"
  },

reporter-config.json
{
  "reporterE

[2022-05-02 23:42] quad5 opened #77 ""saveJson": false still creates json file"
I have the following setting in `cypress.json` file:

  "reporterOptions": {
    "saveJson": false
  },

I see this message in Jenkins' console log: `[mochawesome] Report JSON saved to /tmp/jenkins/workspace/ession-Cypress_parallelExecution/cypress/cypress/reports/desktopView/.jsons/mochawesome.json`

[2022-05-09 18:45] MehranShafqat commented on #68
I have following version installed on my system, but unable to generate report. No errors at the end.
Node: v16.0.0
NPM: 7.10.0
cypress: 9.5.0
cypress-mochawesome-reporter: ^3.0.1
Mac Book: Mac OS Monterey and version : 12.1

I got following message when running in headless mode.
"cypress-mochawesome-reporter is not the active reporter, ignore after run hook"

I have tried adding following to cypr

[2022-05-13 11:50] #65 closed

[2022-05-13 12:12] #52 closed

[2022-05-13 13:12] LironEr commented on #57
@adassoul no, you should get an HTML file.
Please add `debug: true` to `reporterOptions` and add here the log file

[2022-05-13 13:26] LironEr commented on #77
[Under the hood](https://github.com/LironEr/cypress-mochawesome-reporter/blob/master/lib/reporter.js#L8) for this reporter to work properly, Mochawesome must save JSON files to the `.jsons` folder, but after a run, this reporter deletes the folder.

`saveJson` is an option we pass to `mochawesome-report-generator` when [creating](https://github.com/LironEr/cypress-mochawesome-reporter/blob/master/

[2022-05-13 13:26] #77 closed

[2022-05-13 13:27] #75 closed

[2022-05-13 13:32] LironEr commented on #76
Should be fixed in [v3.1.0](https://github.com/LironEr/cypress-mochawesome-reporter/releases/tag/v3.1.0).

[2022-05-13 13:32] #76 closed

[2022-05-13 13:32] LironEr commented on #75
See [v3.1.0](https://github.com/LironEr/cypress-mochawesome-reporter/releases/tag/v3.1.0) release notes

Thanks.

[2022-05-13 15:37] erdoganabaci commented on #55
@LironEr I have a similar problem with @adassoul. my node version is greater than 14 also when I change reporter js in node_modules it works but this method isn't good. I don't wanna change the reporter every time after ```npm install```
[code]
In addition screenshoot doesn't work I can only see codes so how can I fix these problems.

[2022-05-13 15:45] hienpham15 opened #83 "Option to display percentage of the passed/failed tests on the report."
**Is your feature request related to a problem? Please describe.**
No
**Describe the solution you'd like**
I would like an option to display percentage along side the pie chart, on top right of the report.

**Describe alternatives you've considered**
Display a bar of percentage of passed/failed tests.

**Additional context**

[2022-05-13 21:44] LironEr commented on #83
Hey,
This reporter uses [mochawesome-report-generator](https://github.com/adamgruber/mochawesome-report-generator) under the hood, the generator generates the HTML so you should suggest that feature there (:

[2022-05-13 21:44] #83 closed

[2022-05-13 22:00] LironEr commented on #57
In the same folder as your package.json.
If you don't find the debug file please create a repo with the problem so I can have a look.

Thanks

[2022-05-13 22:05] LironEr commented on #55
@erdoganabaci add debug flag and add here the content of the file.

If you don't find the debug file please create a repo with the problem so I can have a look.

Thanks

[2022-05-14 10:49] erdoganabaci commented on #55
@LironEr here repo [https://github.com/erdoganabaci/cypress-reporter-bug](https://github.com/erdoganabaci/cypress-reporter-bug) I explain all bugs and how you can set up in the readme file

[2022-05-15 21:11] LironEr commented on #55
The issue was that your plugins file wasn't really used by cypress

https://github.com/erdoganabaci/cypress-reporter-bug/pull/1

[2022-05-16 00:38] erdoganabaci commented on #55
thanks for quick reply it works on javascript cypress file but if I want to change pluginFile location it returns again same problem generating JSON file :(
My main project built in typescript cypress files. That's why I need it dist folder but ```cypress-mochawesome-reporter``` doesn't work when I change diffrent locations.
change locate instead of default **doesn't work**=>
[code]

default locat

[2022-05-16 00:40] erdoganabaci commented on #55
@LironEr  Another question about screenshots doesn't work how can I see screenshots in an HTML output file?

[2022-05-16 10:01] mlegait commented on #75
Thank you so much @LironEr !

[2022-05-26 15:49] admah opened #84 "Update plugin to be compatible with Cypress 10"
Hello 👋 I'm writing on behalf of the Cypress DX team. We wanted to notify you that some changes may need to be made to this plugin to ensure that it works in Cypress 10.

For more information, here is our [official plugin update guide](https://cypressdx.notion.site/Cypress-10-Plugin-Update-Guide-7474129c5a3b4cc7b969d1934c5844a0).

[2022-05-30 17:35] ctigelaar opened #85 "Screenshots not found because of win/posix path issues"
### Environment

[code]

### What happened?

Trying to implement reports with embedded screenshots, but I'm receiving an error `no such file or directory` on trying to read the screenshot file. I did some research myself and the paths set by the `register.js` file are not correct on Windows. The Cypress config uses unix-like paths like `../../folder/where/screenshots/are` (because we run CI on Lin

[2022-05-31 09:42] ctigelaar commented on #85
It works btw when you use config with Windows paths, eg:

[code]

But the main issue remains, that the `.replace()` is not respecting OS path separators, while Cypress itself apparently does.

[2022-06-04 12:29] #84 closed

[2022-06-20 10:40] mudit94 commented on #43
hi @LironEr , any progress in this?

[2022-06-22 21:53] msesun opened #88 "Upgrade to Cypress 10.2.0 breaks report generator"
### Environment

[code]

### What happened?

We have been using Cypress version 9.7.0 with the cypress-mochawesome-reporter and everything is working great.

When upgrading Cypress to 10.2.0, the reporter is now unable to find our reports folder to run the merge feature and create the index.html report.

The Cypress tests run successfully, the screenshots and mochawesome*.json files all generate c

[2022-06-23 20:51] LironEr commented on #43
@mudit94 unfortunately no

[2022-07-01 03:16] AspireSytemsINC opened #91 "Not able to skip screenshot copying in windows os - https://github.com/LironEr/cypress-mochawesome-reporter/issues/52"
### Environment

[code]

### What happened?

Not able to skip screenshot copying in windows os when source and target of screenshot folder is same. Below is the error message -

An error was thrown in your plugins file while executing the handler for the after:run event.

The error we received was:

Error: Cannot copy 'C:\Users\XXXXXXX\XXXXXX\XXXXXX\cypress\results\AutomationReport_Mochawsome' to

[2022-07-08 12:27] richardhendricksen commented on #88
Same issue here, upgraded from Cypress 9.7 to 10.3.0 and getting the same stacktrace:
[code]
Used the configuration as shown in the Readme.

[2022-07-10 12:21] LironEr commented on #88
@richardhendricksen can you please describe your folder structure?

something like:
[code]

It would help me understand the issue

@msesun is the solution @richardhendricksen wrote solves your issue?

[2022-07-10 12:27] LironEr commented on #55
Sorry for the late response, missed those comments.

If the issue still relevant please create a repo with the problem so I can have a look.

[2022-07-10 12:53] erdoganabaci commented on #55
@LironEr I fixed thanks!

[2022-07-10 15:15] #55 closed

[2022-07-10 15:23] LironEr commented on #85
I tried to replicate the bug with cypress v10 and everything works as expected.

Can you try to upgrade?

[2022-07-10 15:23] LironEr commented on #91
I tried to replicate the bug with cypress v10 and everything works as expected.

Can you try to upgrade?

[2022-07-11 06:36] richardhendricksen commented on #88
@LironEr
My folder structure is almost as you described, only I have multiple config files for specific OTAP environments and I put those in a separate subdirectory:
[code]

[2022-07-11 17:56] AspireSytemsINC commented on #91
Okay, but did you try to reproduce in a windows machine?

[2022-07-12 11:36] LukasLewandowski commented on #88
I got it resolved and that not an issue with Cypress or mochawesome-reporter versions, I had an mistake in configuration.

[2022-07-12 21:42] msesun commented on #88
@LironEr Yes, adding the before hook @richardhendricksen shared to change the reports directory solves the issue. Thank you both!

[2022-07-20 05:07] #57 closed

[2022-07-25 14:07] dovh-me commented on #88
I think the issue is due to Cypress 10 having the plugins executed from the config file directly while in previous versions we were just defining the path to the plugins file in the config.

I had the same issue and got it fixed by this.  Thanks @richardhendricksen

[2022-07-25 14:21] #88 closed

[2022-07-27 17:48] selfagency opened #92 "Cypress is not defined"
### Environment

[code]

### What happened?

Cypress fails to run after loading `require('cypress-mochawesome-reporter/plugin')(on)`.

### Config file

[code]

### Relevant log output

[code]

### Anything else?

support/e2e.ts
[code]

[2022-07-27 20:38] selfagency commented on #92
never mind, it's because i included `import 'cypress-mochawesome-reporter'` in the config file by accident

[2022-07-27 20:38] #92 closed

[2022-08-01 09:14] ToBeKedge opened #95 "After migration of cypress and cypress-mochawesome-reporter, a reporter after:run event occurs"
### Environment

- OS: Red Hat Enterprise Linux release 8.4 and Windows 10
- Node: 14.16.0 and 16.15.1
- cypress-mochawesome-reporter: 3.2.0
- cypress: 10.3.1

### What happened?

After migration of cypress (from 9.2.1 to 10.3.1) and cypress-mochawesome-reporter (from 2.3.0 to 3.2.0), I get this error `An error was thrown in your plugins file while executing the handler for the after:run event.`

[2022-08-01 11:29] mariostephan opened #96 "Wrong path for snapshots"
### Environment

[code]

### What happened?

The path for the embedded snapshots seems to be wrong:

C:\screenshotsFolder\C:\full\path\to\snapshots\...>

This leads to the error:

Error: ENOENT: no such file or directory, open 'C:\Users\stephanm\Projects\ConfigEditor\E2E\screenshots\C:\Users\stephanm\Projects\ConfigEditor\E2E\snapshots\process-flow\story273618\tc289099.spec.js\__diff_output__\2890

[2022-08-03 22:20] enniob commented on #95
I'm having the same issue. Any idea on how to fix this?

[2022-08-05 08:38] LironEr commented on #96
Duplicate issue, when I tried with Cypress v10 it worked as expected.
Please refer to: https://github.com/LironEr/cypress-mochawesome-reporter/issues/85#issuecomment-1179748126

[2022-08-05 08:38] #96 closed

[2022-08-05 08:43] LironEr commented on #95
Please create a repo with the problem and steps to reproduce the issue so I can have a look.

Thanks.

[2022-08-05 10:38] ToBeKedge commented on #95
Hi @LironEr

I have made 2 tests

- the first is with a single and simple anuglar app:
[test-cypress-on-simple-angular-app.zip](https://github.com/LironEr/cypress-mochawesome-reporter/files/9267839/test-cypress-on-simple-angular-app.zip)

- the secon is with an angular workspace with a lib and an app where cypress config file is only in the app
[test-cypress-on-workspace-angular-app.zip](https://g

[2022-08-05 13:08] ToBeKedge commented on #95
Based on the second test, I made a third test: I moved the cypress.config.ts to the workspace root and everything works.
So is it a problem of the reporter or of cypress itself?

[2022-08-06 07:58] LironEr commented on #95
Just released a fix, can you please verify it works?

[code]

Thank you 👍

[2022-08-08 09:19] ToBeKedge commented on #95
Hi @LironEr
I have just test the fix and it seems it is working fine!
Thanks a lot for your work!

[2022-08-08 14:25] enniob commented on #95
Hi @LironEr thanks for the fix.

[2022-08-10 06:25] LironEr commented on #88
It might be related to a fix I released https://github.com/LironEr/cypress-mochawesome-reporter/issues/95#issuecomment-1207170180

I will release an official version in a few days.

[2022-08-10 14:04] msesun commented on #88
@LironEr Thanks!

[2022-08-10 19:54] LironEr commented on #95
Released in [v3.2.1](https://github.com/LironEr/cypress-mochawesome-reporter/releases/tag/v3.2.1)

Thank you for the detailed issue, really helped me to understand the problem and how to solve it (:

[2022-08-10 19:54] #95 closed

[2022-08-11 17:24] spatel2605 opened #98 "Error when generate report in parallel execution on github workflow"
### Environment

[code]

### What happened?

Following error thrown when run tests in parallel mode in github workflow:

Error: Pattern /cypress/reports/html/.jsons/*.json matched no report files

### Config file

[code]

### Relevant log output

_No response_

### Anything else?

_No response_

[2022-08-11 18:44] LironEr commented on #98
Please provide more information, add log file, add your full config and state the correct `cypress-mochawesome-reporter`
Even better, create a repo and describe the steps to reproduce the bug.

[2022-08-25 13:39] ajling opened #100 "Screenshot doesn't appear to be embedded as base64 string, just a link to the file"
### Environment

[code]

### What happened?

When a test fails and the HTML report is generated, even when the reporter option 'embeddedScreenshots' is set to true the image in the HTML report is just a link.
I was under the impression that the screenshot would be added to the HTML report file as a Base64 string.

Let me know if there is any other information you need. Thanks

If using my project,

[2022-08-25 22:24] LironEr commented on #100
You have a typo in your `reporterOptions`
`cypressmochawesomereporterOptions` should be `cypressMochawesomeReporterReporterOptions`

[2022-08-25 23:13] ajling commented on #100
@LironEr thank you and sorry for the trouble, didn't even think to check that. It works perfectly, closing this issue now.

[2022-08-25 23:13] #100 closed

[2022-08-29 14:37] marijana-rukavina opened #101 "Error with the reporter in the after:run event when running it in the Github CI"
### Environment

[code]

### What happened?

When I am running my test suite locally, then everything works.
But when I try to run it in the Github Actions, I get this error, and my .html report file is not generated:
[code]

### Config file

[code]

### Relevant log output

[code]

### Anything else?

This is the command in yaml file which is used to run the tests:
`Run npm ci && cypress run --sp

[2022-08-31 05:28] marijana-rukavina commented on #101
@LironEr any insights on this one? :D

[2022-08-31 10:26] marijana-rukavina commented on #101
The issue was I was having this ` --reporter cypress-multi-reporters --reporter-options configFile=reporter-config.json` extra in the yaml file. When I removed it, it worked fine.
Sorry, my bad, not a bug

[2022-08-31 10:26] #101 closed

[2022-08-31 13:32] marijana-rukavina opened #102 "Define reportFileName dynamically"
**Is your feature request related to a problem? Please describe.**
I would like to have something like this in my cypress.json:
"reportFilename": "[status]_[datetime]-[name]-report" where I could define the name dynamically from a variable or something similar?
I have a test suite for 2 shops and I would like the report name to reflect the shop's name.
Is this possible?

**Describe the solution yo

[2022-09-06 10:38] kilbc634 opened #103 "before() after() hook part are not seen in the html report"
### Environment

[code]

### What happened?

Hi, here is my e2e test file
There are two simple test case. **At first I used before() to open the google search home page**
[code]

The above cdoe works normally,
but the problem is that **before() and afterEach() are not seen in the html report** (I'm sure the html report's sidebar show hooks = Always)
[https://i.imgur.com/bPc5xnt.png](https://i.imgu

[2022-09-11 19:35] FRSgit commented on #96
Same issue here

[2022-09-11 20:46] FRSgit opened #106 "Special chars in screenshot urls aren't properly escaped"
### Environment

[code]

### What happened?

Image was not visible in the generated report due to improperly escaped special characters in the screenshot's name.

Screenshot file name: `test-file#0`
Generated img src: `screenshots/spec.cy.js/test-file#0.png`
Expected img src: `screenshots/spec.cy.js/test-file%230.png`

### Config file

No cypress.json in Cypress 10 anymore, but that's my `cypress.

[2022-09-11 21:05] FRSgit commented on #106
I've prepared a branch with reproduction here: https://github.com/FRSOURCE/cypress-plugin-visual-regression-diff/tree/example/mochawesome-unescaped-chars
To reproduce the bug:
- checkout the linked branch,
- install deps via `yarn` command
- run command `yarn test:e2e:ci`
- open up a report file and see that the image "is missing" though it was copied to the reports directory properly

[2022-09-15 22:06] #85 closed

[2022-09-17 00:37] #91 closed

[2022-09-19 16:37] muirdok commented on #36
btw.
issue is actual for:
`reporter: 'cypress-mochawesome-reporter',
  reporterOptions: {
    "reportDir": "results",
    "overwrite": true,
    "saveJson": true,
    "charts": true,
    "embeddedScreenshots": true,
    "inlineAssets": false,
    "saveAllAttempts": false
  },`
and
`        "cypress": "^10.8.0",
        "cypress-mochawesome-reporter": "^3.2.2",
        "mochawesome-merge": "^4.2.1"

[2022-09-28 13:45] marijana-rukavina opened #107 "Couldn't determine Mocha version"
### Environment

[code]

### What happened?

I run your example for multiple reporters and I get the message "Couldn't determine Mocha version". I had to add the mocha package in order for the message to disappear

![image](https://user-images.githubusercontent.com/84860380/192793496-76f44352-0993-484a-bca1-9a7378b6ad19.png)

### Config file

[code]

### Relevant log output

_No response_

### Any

[2022-10-05 11:56] OleksandrKucherenko opened #108 "Cypress & with Yarn PnP"
**Is your feature request related to a problem? Please describe.**

The cause:

[code]

**Describe the solution you'd like**

Step #1: Add `mocha` a required yarn package, so yarn PnP can resolve it for Cypress.

[code]

Step #2: create in the root of the project file `cypress-mochawesome-reporter.js` with content:

[code]

Follow the original configuration steps.

**Describe alternatives you've c

[2022-10-05 12:22] OleksandrKucherenko commented on #108
Cleaner version:
[code]

[2022-10-06 14:31] gustawx opened #109 "Add possibility of adding custom info to the report, something like addContext() in mochawesome-report"
Would be great to be able to add a custom info to the report, something like `addContext()` in mochawesome-report.

[2022-10-06 17:57] LironEr commented on #109
you can still use `addContext`, the context should be in the HTML report

[2022-10-06 18:01] LironEr commented on #103
Unfortunately, the reporter doesn't have access to this.

The reporter gets the code from Cypress and the only code sent is the test code, without anything else.

[2022-10-06 18:01] #103 closed

[2022-10-06 18:18] #106 closed

[2022-10-06 18:23] LironEr commented on #107
Did you run `npm install` in the root directory of the repo and also in the example folder?

I have tried to reproduce the bug but I couldn't.

[2022-10-06 18:28] LironEr commented on #106
Should be fixed in [v3.2.3](https://github.com/LironEr/cypress-mochawesome-reporter/releases/tag/v3.2.3).

Thank you for reporting this issue (:

[2022-10-06 20:11] FRSgit commented on #106
Nice, I've seen your PR - looks really nice. You don't even know how will that help me with development of https://github.com/FRSOURCE/cypress-plugin-visual-regression-diff ❤️

I'll come back to you when I test your solution a bit heavier 😄

[2022-10-08 02:41] luqy commented on #106
I updated to the latest and found that the same problem still exists

![Uploading image.png…]()

[2022-10-08 02:41] luqy commented on #106
I updated to the latest and found that the same problem still exists
![Uploading image.png…]()

[2022-10-08 02:55] luqy commented on #106
I updated it to 3.2.3, and I can still reproduce the problem,
![image](https://user-images.githubusercontent.com/42463694/194684659-a048a349-14cd-436d-a294-7b1560cb9584.png)

[2022-10-12 07:57] gustawx commented on #109
Thank you very much for feedback I will check it out

[2022-10-13 05:28] LironEr commented on #109
I'm closing the issue, but if you need help reply here

[2022-10-13 05:28] #109 closed

[2022-10-17 22:33] #98 closed

[2022-10-19 15:13] vitaliy4us opened #112 "Not able to implement imbedded screenshots"
### Environment

[code]

### What happened?

I am trying to implement Mochawsome report to my Cypress 10 framework. I use cypress-mochawesome-reporter plugin and set it up regarding npm package instructions https://www.npmjs.com/package/cypress-mochawesome-reporter. But the problem is that the report is generated without imbedded screenshots despite of using embeddedScreenshots: true parameter in

[2022-10-25 18:54] sblair12 opened #113 "Screenshot copy not skipped with matching directory"
### Environment

[code]

### What happened?

Got `Error: Source and destination must not be the same` when the source and destination directories are the same path, but their strings differ. See log output section for the full log. Looks like this was initially fixed in #52

This could be related, but `cypress-tests` is a symlink
[code]

### Config file

[code]

### Relevant log output

[code]

##

[2022-10-28 21:35] majco333 commented on #55
Hello, I have the same problem. I am attaching the log:
![image](https://user-images.githubusercontent.com/4101721/198735936-5d10be7a-f6ed-46f9-b436-5e64c8766b4b.png)

@LironEr How can you fix it? Reverse row 15 and 16...

[2022-11-11 12:32] mikstime opened #114 "Can't handle screenshots outside the report folder"
### Environment

[code]

### What happened?

It is possible to move screenshot file using [After Screenshot API](https://docs.cypress.io/api/plugins/after-screenshot-api#Modify-screenshot-path) which could result in screenshot being located outside the report folder. It's clearly seen current implementation of enhanceReport function [can't handle](https://github.com/LironEr/cypress-mochawesome-rep

[2022-11-18 07:23] matifniaz opened #115 "It's possible to update Size ,Color of "addContext""
For Example :
`Entered Username: <b><font color=SpringGreen>admin_core12121121212</b> </font>on Login Page`

**Result on Report:**
Entered Username: **admin_core12121121212**on Login Page

Currently, HTML not rendering, Snapshot for reference:
![image](https://user-images.githubusercontent.com/40147842/202644650-e35be1e3-78af-44f4-ad62-e467f0e574b3.png)

[2022-11-19 17:17] LironEr commented on #115
Currently, this is not possible.

Under the hood, this reporter uses [mochawesome](https://github.com/adamgruber/mochawesome), which is responsible for the `addContext` function & the HTML report.

You can try to open a feature request there (:

[2022-11-19 17:17] #115 closed

[2022-11-19 17:22] LironEr commented on #114
Actually, I haven't tried this, but it depends if I can get the new path [here](https://github.com/LironEr/cypress-mochawesome-reporter/blob/master/register.js#L8).

It would help if you could create an example repo with this problem so I will be able to play with and try to fix this issue